<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.eduucenter.mapper.UcenterMemberMapper">
<!-- Integer getRegisterCount(String date);-->
    <select id="getRegisterCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `ucenter_member` sd WHERE DATE(sd.gmt_create) = #{date}
    </select>
</mapper>
